  	<aside style="float: right; background: #F0F0F0; width: 200px;">
  		<p>
  			<%= link_to "All Movies", root_path %><br>
  			<%= link_to "Add New Movie", new_movie_path %>
  		</p>
  	</aside>